.bdsft-client
  .callPopup.fadeable.popup.classes.centered
    span.incomingCallTitle Incoming Call
    span.displayName
    span.user
    div
      .col
        button.acceptIncomingCall.button(type='button') Accept
        button.holdAndAcceptButton.button(type='button') Hold And Answer
        button.dropAndAcceptButton.button(type='button') Drop And Answer
      #rejectIncomingCallContainer.col
        button.rejectIncomingCall.button(type='button') Reject

