.bdsft-webrtc
  .callPopup.fadeable.popup.classes.centered
    span.incomingCallTitle Incoming Call
    span.displayName
    span.user
    div
      .col
        button.accept.button(type='button') Video
        button.acceptAudio.button(type='button') Audio
        button.holdAndAccept.button(type='button') Hold And Answer
        button.dropAndAccept.button(type='button') Drop And Answer
      #rejectContainer.col
        button.reject.button(type='button') Decline

