.bdsft-webrtc
  .callPopup
    padding 0
    background #FBFBFB
    border 1px solid #D6D6D6
    box-shadow none
    border-radius 0
    min-width 290px
    padding-bottom 8px
    button
      margin 10px
      display none
      width 54px
    span
      color #999999
      font-size 17px
    .col
      display inline-block
      vertical-align top
    .displayName
      display block
      font-weight bold
      margin-left 16px
      margin-bottom 18px
    .user
      display block
      margin-left 16px
      margin-bottom 10px
    .incomingCallTitle
      display block
      padding 8px
      font-size 18px
      background #3DA005
      margin-bottom 18px
      color #FFFFFF
    .reject
      background #EC1F1F
    .accept
      background #3DA005
    .acceptAudio
      background #03AFEF
    #rejectContainer
      text-align right


    &.started .holdAndAccept,
    &.started .dropAndAccept,
    &:not(.started).hasRemoteVideo .accept,
    &:not(.started) .acceptAudio,
    & .reject
      display inline-block

    &.incomingcall-shown
      {fadeInPopup}

    &:not(.incomingcall-shown),
    &.failed
      {fadeOut}
      transition none