.bdsft-webrtc
  .callPopup
    padding 0
    background #292929
    border 1px solid #3c3c3c
    box-shadow none
    border-radius 0
    min-width 170px
    button
      margin 10px
      display none
    span
      color #999999
      font-size 22px
    .col
      display inline-block
      vertical-align top
    .displayName
    .user
      display block
      margin-left 10px
      margin-bottom 18px
    .incomingCallTitle
      display block
      padding 8px
      font-size 18px
      font-weight bold
      background #3c3c3c
      margin-bottom 18px
      color #E4E4E4
    .reject
      background #FF0000
    #rejectContainer
      text-align right


    &.started .holdAndAccept,
    &.started .dropAndAccept,
    &:not(.started).hasRemoteVideo .accept,
    &:not(.started) .acceptAudio,
    & .reject
      display block

    &.incomingcall-shown
      {fadeInPopup}

    &:not(.incomingcall-shown),
    &.failed
      {fadeOut}
      transition none