.bdsft-client
  .callPopup
    padding 0
    background #292929
    border 1px solid #3c3c3c
    box-shadow none
    border-radius 0
    width 170px
    height 137px
    span
      color #999999
      font-size 22px
    .displayName
    .user
      display block
      margin-left 10px
      margin-bottom 18px
    .incomingCallTitle
      display block
      padding 8px
      font-size 18px
      font-weight bold
      background #3c3c3c
      margin-bottom 18px
      color #E4E4E4
    .rejectIncomingCall
      background #FF0000
    #rejectIncomingCallContainer
      text-align right


  .callPopup.started .holdAndAcceptButton,
  .callPopup.started .dropAndAcceptButton,
  .callPopup:not(.started) .acceptIncomingCall
    {fadeIn}

  .callPopup.incomingcall-shown
    {fadeInPopup}

  .callPopup:not(.incomingcall-shown)
    {fadeOut}